@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&family=Zilla+Slab:wght@700&display=swap'); 



//defining the primary color of the project
:root{
    --primary-color:#7542E5;
}



body{
    margin: 0;
    font-family: 'Poppins';
    background:black;
}



.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: top 0.3s;
    background:white;   
    padding:1em 10em;
    .logo-text{
            text-decoration: none;
            font-weight: bold;
            color: black;
            font-size: 1.2em;
            span{
                color:var(--primary-color)

            }
    }

    
    .container{
        display: flex;
        place-content: space-between;
    }
    
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
section{
    padding: 5em 2em;
}

.navbar .container{
    display: grid;
    grid-template-columns: 180px auto;
    place-content: unset;

}


.navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul{
        display: flex;

    }

    a{
            color: black;
            text-decoration: none;
            font-size: 1em;
            padding: .1em 1.5em;
            &:hover{
                font-weight: bold;
            }

    }

    ul.primary-nav{
        margin: 0;
    }

    li.current a{
        font-weight: bold;
        &:hover{
            color:var(--primary-color);
        }

    }

    li.be-thumbcancerous-cta a{
        color: var(--primary-color);
        background:white;
        border: 3px solid var(--primary-color);
        font-weight: bold;
        margin-top:-.2em;
        border-radius: .2em;

        &:hover{
            background:var(--primary-color);
            color: white;
        }
    }
}




.hero{
    background: var(--primary-color);
    font-family: 'inter';
    color: white;
    padding: 7em 10em;
    height: 500px;


    .logo{
        width: 50%;
        height: auto;
    }

    .container{
        display: flex;
        justify-content: space-between;
        
        
    }

    h1{
       font-size: 4rem;
       margin: 0;
       padding: 0;
    }

    p{
        font-size: 1.125rem;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }

    .right-col{
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }

    .header{
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1em;
    }
    li{
        margin-top: 2em;
    }

    li.be-thumbcancerous-cta a{

        background: white;
        text-decoration: none;
        color:black;
        border: 3px solid black;
        font-weight: bold;
        margin-top:-.2em;
        padding: 1em;
        border-radius: .3em;

        &:hover{
            color:white;
            background: var(--primary-color);
        }
    }
}

.hero2{
    background: white;
    color: black;
    padding: 7em 10em;
    height: 500px;
    .container{
        display: flex   ;
        justify-content: space-between;

        .right-coloum{
            text-align: center;
            margin-top: 5em;
            h1{
                font-size: 4rem;
                color: var(--primary-color);
                font-family: 'Zilla Slab', serif;
            }

            p{
                font-size: 1.5em;
                color: var(--primary-color);

            }
            max-width: 60%;
        }


    }
}





